{% extends "./template/layout.twig" %}
{% block head %}
    <title>{{ title }}</title>
    <link type="text/css" href="{{ staticsUrl }}/js/alertify/alertify.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ staticsUrl }}/css/gb-all.css">
    <link rel="stylesheet" href="{{ staticsUrl }}/js/ztree/zTreeStyle/zTreeStyle.css">
{% endblock %}
{% block container %}
    {% include "./template/navbar.twig" %}
    <div class="container-fluid row location">
        <div class="col-md-2 left-bar-wrap">
            {% include "./template/left-bar.twig" %}
        </div>
        <div class="col-md-10 right-con">
            <div class="main">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">{{ title }}</h4>
                    </div>
                    <div class="panel-body">
                        <div class="search-option row">
                            <div class="col-md-9">
                                <form class="form-inline" method="get" action="{{ selectUrl |raw }}" id="searchForm">
                                    <input type="hidden" name="c" value="{{ request.c }}">
                                    <input type="hidden" name="m" value="{{ request.m }}">
                                    <input type="hidden" name="page_name" value="{{ request.page_name }}">
                                    <input type="hidden" name="length" value="{{ request.length }}">
                                    <div class="form-group pcc-tree-wrapper">
                                        <input type="text" class="form-control location-area" name="organization" placeholder="请选择创建单位"
                                               readonly autocomplete="off" value="{{ request.organization }}">
                                        <div class="tree-content" id="menuContent">
                                            <ul class="ztree pcc-tree" id="crossingTree"></ul>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="location" placeholder="请输入设备组名称" style="width: 200px;"
                                               autocomplete="off" value="{{ request.location }}" maxlength="50">
                                    </div>
                                    <input type="submit" class="btn btn-primary" id="search" value="搜索">
                                </form>
                            </div>
                            <div class="col-md-3 btns">
                                <span class="pull-right operate">
                                  <a class="btn btn-primary" id="addLocation">新建设备组</a>
                                </span>
                            </div>
                        </div>
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <td width="6%">序号</td>
                                <td width="14%">创建单位</td>
                                <td width="14%">设备组名称</td>
                                <td width="10%">包含设备数量</td>
                                <td>备注</td>
                                <td width="10%">操作</td>
                            </tr>
                            </thead>
                            <tbody id="list">
                            {% if locations.data|length !=0 %}
                                {% for item in locations.data %}
                                    <tr data-id="{{ item.id }}" data-orgid="{{ item.org_id }}" 
                                        data-organization="{{ item.organization }}" 
                                        data-devicegroup="{{ item.device_group }}" 
                                        data-device_group_name="{{ item.device_group_name }}" 
                                        data-note="{{ item.note }}" 
                                        data-rtmp="{{ item.rtmp }}"
                                        data-num="{{ item.num }}">
                                        <td>{{ item.sort }}</td>
                                        <td>{{ item.organization }}</td>
                                        <td>{{ item.device_group_name }}</td>
                                        <td>{{ item.num }}个</td>
                                        <td>{{ item.note }}</td>
                                        <td>
                                            <a href="##" class="js-edit">修改</a>
                                            <a href="##" class="js-del">删除</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="5" class="text-center">未找到符合条件的数据</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                        <div class="row bottom">
                            <div class="col-md-4 total">
                                共<span>{{locations.total}}</span>个设备
                            </div>
                            {% if locations.data|length !=0 %}
                                {# <div class="row text-center" id="pagination"></div> #}
                            <div class="col-md-8 row">
                                <div class="row text-right" id="pagination" ></div>
                                <div class="length" id="length"></div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# 修改 #}
        <div class="modal fade draw-select-none" id="editModal" tabindex="-1" role="dialog"  data-backdrop="static">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">新建设备组</h4>
                    </div>
                    <div class="modal-body row">
                        <div class="col-md-12">
                            <form class="form-inline" id="editLocationForm" autocomplete="off">
                                <input type="hidden" name="old_id" value="">
                                <input type="hidden" name="id" value="">
                                <label><span style="color: red">*</span>创建单位</label>
                                <div class="form-group pcc-tree-wrapper">
                                    <input type="text" class="form-control location-area" name="organization" placeholder="请选择创建单位"
                                       readonly autocomplete="off">
                                    <div class="tree-content" id="menuContent2">
                                        <ul class="ztree pcc-tree" id="crossingTree2"></ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label><span style="color: red">*</span>设备组名称</label>
                                    <input type="text" id="kakounames" class="form-control" name="device_group_name" placeholder="请输入设备组名称"
                                        autocomplete="off" maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label>备注</label>
                                    <input id="beizhu" type="text" class="form-control" name="note" placeholder=""
                                        autocomplete="off" maxlength="256">
                                </div>
                                <input type="hidden" name="method" id="rest" value="">
                            </form>
                        </div>
                        <div class="col-md-12" style="margin-top: 15px;">
                            <div class="operation-left">
                                <div class="realtime current" data-type="realtime">包含<span>0</span>个设备</div>
                                {# <div class="history" data-type="history">历史分析设备（<span>0</span>个）</div>
                                <div class="face-num">包含<span>0</span>个设备</div> #}
                            </div>
                            <div class="operation-right">
                                {%include "./template-gb/map-draw-manager.twig" %} 
                            </div>
                            <div class="operation-map">
                                <div class="center-block" id="map"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">&nbsp;&nbsp;关&nbsp;&nbsp;闭&nbsp;&nbsp;</button>
                        <button id="save" type="button" class="btn btn-primary">
                            &nbsp;&nbsp;保&nbsp;&nbsp;存&nbsp;&nbsp;
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "./template-gb/footer.twig" %}
    <script>
      var searchBranch = 'face-equipment-group', totalPages = {{ totalPages }}
      var staticDataCache = '{{ staticDataCache }}'
      var ajaxURL = {
        orgUrl: '{{ orgUrl | raw }}',
        del: '{{ deleteUrl|raw }}',
        select: '{{ selectUrl |raw }}',
        getPoints: '{{ getPointsUrl | raw }}',
        save: '{{ saveUrl | raw }}',
        getCheckedPoints: '{{ getCheckedPointsUrl | raw }}',
        checkGroupName: '{{ checkGroupName | raw }}'
      }
    </script>
    {% include "./template/map-js.twig" %}
    <script src="{{ staticsUrl }}/js/ztree/jquery.ztree.all.min.js"></script>
    <script src="{{ staticsUrl }}/js/alertify/alertify.min.js"></script>
    <script src="{{ staticsUrl }}/js/gb-all.js"></script>
{% endblock %}