body{
    padding:0;
    margin: 0;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
img{
    border: 0;
}
.f15px{
    font-size: 15px;
}
.f14px{
    font-size: 14px;
}
.f12px{
    font-size: 12px;
}
.top{
    background: url("../images/menu_user.png") repeat-x #cb0000;
    width: 100%;
    min-width: 1200px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
.top span{
    margin:0 12px 0 12px;
    color: #df0000;
}
.top .user,.top .retrieval{
    font:italic bolder 18px 微软雅黑;
    color:#083487 ;
}
.top .retrieval{
    margin:0 12px 0 180px;
}
.top a{
    display: inline-block;
    width: 70px;
    height: 21px;
    line-height: 21px;
    text-align: center;
    background-image: url("../images/Hyperlink_bg.png");
    color: #fff;
    margin-left: 13px;
}
.top .hyper{
    width: 47px;
    height: 21px;
    position: relative;
    left: -15px;
    *top:-5px;
    background: url("../images/top_but.png");
    _background: url("../images/top_but.png");
}
.top_tex{
    width: 110px;
    height: 20px;
    margin: 0 7px 0 10px;
}
.top .top_but{
    width: 47px;
    height: 21px;
    color: #fff;
    margin-left: 0px;
    background-image: url("../images/top_but.png");
    *bbackground-image: url("../images/top_but.gif");
}
.footer{
    clear: both;
    position: relative;
    width: 100%;
    min-width: 1200px;
    height: 319px;
    background-color: #083588;
    padding-top: 16px;
}
.online{
    float: left;
    background-image:url("../images/online.png") ;
    _background-image:url("../images/online.gif") ;
    width: 169px;
    height: 55px;
    margin-left: 30px;
    _margin-left: 15px
}
.footer_menu1{
    background: url("../images/online_spr2.png") no-repeat;
    _background: url("../images/online_spr2.gif") no-repeat;
    width: 164px;
    height: 58px;
    float: left;
    margin-left: 60px;
}
.footer_menu1:hover{
    background: url("../images/online_spr.png") no-repeat;
    _background: url("../images/online_spr.gif") no-repeat;
}
.footer_menu2{
    background: url("../images/online_spr2.png") no-repeat 0 -58px;
    _background: url("../images/online_spr2.gif") no-repeat 0 -58px;
    width: 164px;
    height: 59px;
    float: left;
    margin-left: 20px;
}
.footer_menu2:hover{
    background: url("../images/online_spr.png") no-repeat 0 -59px;
    _background: url("../images/online_spr.gif") no-repeat 0 -59px;
}
.footer_menu3{
    background: url("../images/online_spr2.png") no-repeat 0 -117px;
    _background: url("../images/online_spr2.gif") no-repeat 0 -117px;
    width: 164px;
    height: 59px;
    float: left;
    margin-left: 20px;
}
.footer_menu3:hover{
    background: url("../images/online_spr.png") no-repeat 0 -118px;
    _background: url("../images/online_spr.gif") no-repeat 0 -118px;
}
.footer_menu4{
    background: url("../images/online_spr2.png") no-repeat 0 -176px;
    _background: url("../images/online_spr2.gif") no-repeat 0 -176px;
    width: 164px;
    height: 59px;
    float: left;
    margin-left: 20px;
}
.footer_menu4:hover{
    background: url("../images/online_spr.png") no-repeat 0 -177px;
    _background: url("../images/online_spr.gif") no-repeat 0 -177px;
}
.interlink{
    width: 965px;
    margin: 40px auto 30px;
    height: 125px;
    padding-top:15px ;
    padding-left: 60px;
    border-bottom: 1px solid #79c1e7;
    border-top: 1px solid #79c1e7;
    color: #fff;
}
.interlink ul{
    margin-left: 30px;
    *margin-left: 50px;
    margin-top: -20px;
}
.interlink ul li{
    font: 15px 宋体;
    float: left;
    margin-left: 90px;
    *margin-left: 105px;
    _margin-left: 55px;
    width: 110px;
}
.interlink ul li .second_ul{
    margin-top: 0;
    margin-left:-40px;
}
.interlink ul li .second_ul li{
    clear: both;
    margin: 10px 0 0 0px;
    *margin-left:40px;
    _margin-left: 20px;
}
.interlink ul li .second_ul li a{
    color: #79c1e7;
}
.footer_botoom{
    width: 1000px;
    margin: 0 auto;
    color: #a8caed;
    text-align: center;
    font: 14px 宋体;
    line-height: 10px;
    *height:60px ;
    *line-height: 16px;
}
.nav{
    width: 100%;
    min-width: 1200px;
    height: 45px;
    background: url("../images/nav_bg.png") repeat-x;
    color: #fff;
}
.cen{
    position: relative;
    width: 1000px;
    height: 40px;
    margin: 0 auto;
    z-index: 1;
}
.nav ul{
    margin: 0px 0 0 -40px;
    *margin: 0px;
}
.nav ul .first_li{
    color: #fff;
    font:15px 宋体;
    font-weight: bolder;
    float: left;
    width: 100px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: url("../images/nav_li.png") no-repeat right;
}
.header{
    width: 100%;
    min-width: 1200px;
    height: 144px;
    background: url("../images/header_bg2.png") repeat-x;
}
.index_header{
    width: 100%;
    min-width: 1200px;
    height: 363px;
    background: url("../images/index_bg.png") repeat-x;
}
.header_cen{
    width: 1000px;
    height: 144px;
    margin: 0 auto;
    background-image: url("../images/header_bg.png");
}
.index_header_cen{
    width: 1000px;
    height: 365px;
    margin: 0 auto;
    background: url("../images/index_head_bg2.png") no-repeat;
    _background: url("../images/index_head_bg2.gif") no-repeat;
}
.edition{
    width: 245px;
    font: 16px 宋体;
    position:relative;
    top: 15px;
    left: 780px;
    line-height: 20px;
}
.edition span{
    font:16px Times New Roman;
    display: inline-block;
    width: 80px;
    height: 20px;
    text-align: center;
    border-right:1px solid #fff ;
    border-left:1px solid #fff ;
    margin: 0 8px 0 8px;
}
.edition a{
    color: #ffffff;
}
.first_li ul{
    position: absolute;
    _width: 1000px;
    top: 45px;
    display: none;
    z-index: 10;
}
.first_li ul li{
    float: left;
    width: 120px;
    font:bolder 15px 宋体;
    height: 35px;
    line-height: 35px;
    background: url("../images/jiantou2.gif") no-repeat #a1dbff;
    border-right:1px solid #aa2b2b ;
    color: #073285;
    _display: inline-block;
    _overflow: hidden;
}
.survey1{
    left:100px;
}
.survey2{
    left:200px;
}
.survey3{
    left: 120px;
}
.survey4{
    left: 500px;
}
.survey4 li{
    width: 110px;
    padding-left: 10px;
}
.survey5{
    left: 600px;
}
.survey6{
    left: 590px;
}
.survey7{
    left: 510px;
}
.nav ul .first_li:hover{
    color: #aa2b2b;
    background: url("../images/nav_hover.png") repeat-x;
}
.nav ul .first_li:hover ul{
     display: block;
}
.nav ul .first_li ul li:hover{
    background-color:#aa2b2b;
    color: #fff;
}
.newroman{
    font-family:"Times New Roman";
}
.news-container{
    width: 1000px;
    min-height: 1270px;
    margin: 0 auto;
    position: relative;
}
.news-side-container{
    position: relative;
    width: 300px;
    min-height:1105px;
    background:#e7f2f9;
    float: left;
}
body .news-container a:hover{
    color: red;
}
.news-container .news-side-container a .p-special:hover{
    color: red;
}
.news_content_li .new-center3_1:hover{
    color: red;
}
.news-title,.online-title{
    background: url("../images/banner.png") 0 -150px;
    width: 1000px;
    height: 131px;
    clear: both;
    padding-bottom: 7px;
}
.online-title{
    background: url("../images/banner.png") 0 -1200px no-repeat;
}
.new-style-one{
    position: relative;
    width: 295px;
    height: 460px;
}
.menu{
    width: 400px;
    margin:0;
    padding: 0;
    position:relative;
}
.menu>li{
    float: left;
    background: #ccebfa;
    width: 99px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color:#083689;
    font-weight: bolder;
    border-bottom:1px solid red;border-right: 1px solid white;
    font-size: 15px;
}
.menu .menu-li3{
    width: 100px;
    border-right:none;
}
.menu-two1,.menu-two2,.menu-two3{
    width: 280px;
    margin:0;
    padding: 0;
    position: absolute;
    text-align: left;
    font-weight: 400;
    top: 51px;
    left: 20px;
    list-style: url("../images/red-cir.png");
}
.red-cir{
    display: none;
    *display:inline;
    margin-left: -10px;
}
.menu-two2,.menu-two3{
    display: none;
    background-color:#e7f2f9;
}
.new-style-one .menu .menu-li1 .menu-two1 li ,.new-style-one .menu .menu-li1 .menu-two2 li ,.new-style-one .menu .menu-li1 .menu-two3 li {
    list-style: url("../images/red-cir.png");
    font-size: 14px;
    height: 45px;
}
.menu-two1 li a,.menu-two2 li a,.menu-two3 li a,.p-special{
    color: #083689;
    font-family: 宋体;
}
a{
    text-decoration: none;
}
.menu-two1 li p,.menu-two2 li p,.menu-two3 li p{
    width: 270px;
    height: 38px;
    margin-top: -33px;
    margin-left: -17px;
    padding-left: 20px;
    color: #5ab3ff;
    border-bottom:1px solid white;
    font-family: "Times New Roman";
    font-size: 12px;
}
.p-special{
    text-align: right;
    width: 275px;
    position: absolute;
    top: 418px;
    z-index: 1;
    *top: 435px;
}
.menu-li1:hover{
    border-top: 1px solid red;border-right: 1px solid red;border-bottom: none;
    color:#aa2b2b;
    background-color:#e7f2f9;
    margin-top: -1px;
}
.menu-li2:hover{
    border: 1px solid red;border-bottom: none;
    margin-left: -1px;
}
.menu-li2:hover .menu-two2{
    display: block;
}
.menu-li3:hover{
    border-top: 1px solid red;
    border-left:1px solid red;
    border-right:none;
    border-bottom: none;
    margin-left: -1px;
}
.menu-li3:hover .menu-two3{
    display: block;
}
.menu-li3:hover .p-special{
    margin-top: 1px;
}
.expect-side-container{
    min-height: 1505px;
    margin-bottom: 15px;
}
.expertdata-title{
    background: url("../images/banner.png") 0 -750px;
    width: 1000px;
    height: 131px;
    clear: both;
    padding-bottom: 7px;
}
.new-style-two{
    position: relative;
    height: 348px;
}
.left-common-expectimg{
    width: 300px;
    height: 49px;
    background: url("../images/left-common.png") 0 -99px;
    position: relative;
}
.new-style-two .left-common-menu1 li,.new-style-three .left-common-menu1 li{
    padding-bottom: 15px;
    color: #083487;
    font-size: 15px;
    margin-left: -15px;
}
.left-common-menu1 li{
    position: relative;
}
.new-style-two .left-common-menu1 li input,.new-style-three .left-common-menu1 li input{
    border: 1px solid #1668c3;
    margin-left: 15px;
    color: #083487;
    width: 170px;
}
.new-style-two .left-common-menu1 li .left-common-menu1-special1{
    *margin-top:-33px;
    *margin-left:263px;
    *position: relative;
    *top:-20px;
[;margin-top: 2px;margin-left: -3px;]
}
#left-common-menu1-special1{*z-index: 7}
@-moz-document  url-prefix(){.new-style-two .left-common-menu1 li .left-common-menu1-special1{margin-top: 1px;margin-left: -1px;}}
div .left-common-menu1-special1{
    width: 15px;
    height: 15px;
    position: absolute;
    top:2px;
    left: 237px;
    *left:243px;
    background: url("../images/layer.png");
}
div .left-common-menu1-special{
    width: 15px;
    height: 15px;
    position: absolute;
    top:2px;
    left: 237px;
    background: url("../images/layer.png");
}
.left-common-menu1-special1-list{
    width: 170px;
    height: 18px;
    font:15px 微软雅黑;
    color: black;
}
.left-common-menu1-special1-wrap{
    position: absolute;
    top: 15px;
    left: -155px;
    *left:-157px;
    width: 170px;
    *width:172px;
    background-color: white;
    border: 1px solid #1668c3;
    border-top: none;
    z-index: 11;
    display: none;
}
@-moz-document  url-prefix(){.left-common-menu1-special1-wrap{width: 172px;left: -157px}}
.left-common-menu1-special1:hover .left-common-menu1-special1-wrap{
    display: block;
}
.new-style-two .left-common-menu1 .left-common-menu1-special2{
    *margin-top: -15px;
    *z-index: 6;
}
.left-common-menu1-special1-list:hover{
    background: #1668c3;
}
.new-style-two .left-common-menu1 li img,.new-style-three .left-common-menu1 li img{
    left: -23px;
    position: relative;
    top: 2px;
    *margin-top:-40px;
    top: 3px\0;
}
.left-common-menu1-li-special{
    margin-left: 14px;
}
#left-common-menu1-special3{
    *margin-top: -14px;
    *z-index: 5;
}
#left-common-menu1-special3-input{
    *position: absolute;
    *top: -2px;
    *left:48px;
    *margin-left: 35px;
}
@media all and (-webkit-min-device-pixel-ratio: 0){
    .new-style-two .left-common-menu1 li img{
        float: right;
    }
}
@media all and (-webkit-min-device-pixel-ratio: 0){
    .new-style-three .left-common-menu1 li img{
        float: right;
        margin-right: 16px;
    }
}
.expext-search,.expext-cancel{
    background: url("../images/expect-button-bg.png") 0 -30px;
    border-color: #cce7fa #a4c5e1 #6594c1 #a4c5e1;
    border-radius: 3px;
    box-shadow:         2px 2px 1px 1px lightgray;
    font-weight:bolder;
    color:#083487;
    float: left;
    width: 80px;
    height: 30px;
    *position: relative;
    *top: -24px;
    -moz-border-bottom-colors:#6594c1;
    -moz-border-top-colors:#cce7fa;
    -moz-border-left-colors:#a4c5e1;
    -moz-border-right-colors:#a4c5e1;
    filter:progid:DXImageTransform.Microsoft.Shadow(Strength=6,Direction=135, Color=#cccccc);
}
.expext-search{
    margin-left: 20px;
}
.expext-cancel{
    margin-left:10px;
    *margin-top:-19px;
}
.expext-search:hover{
    background: url("../images/expect-button-bg.png");
    border-color: #d94027 #b53727 #802c29 #b53727;
    color:#654b00;
    -moz-border-bottom-colors:#802c29;
    -moz-border-top-colors:#d94027;
    -moz-border-left-colors:#b53727;
    -moz-border-right-colors:#b53727;
}
.expext-cancel:hover{
    background: url("../images/expect-button-bg.png");
    border-color: #d94027 #b53727 #802c29 #b53727;
    color:#654b00;
    -moz-border-bottom-colors:#802c29;
    -moz-border-top-colors:#d94027;
    -moz-border-left-colors:#b53727;
    -moz-border-right-colors:#b53727;
}
.title-scient{
    background: url("../images/banner.png") 0 -900px;
    width: 1000px;
    height: 131px;
    clear: both;
    padding-bottom: 7px;
}
.new-style-three{
    position: relative;
    height: 258px;
}
.left-common-scient{
    width: 300px;
    height: 49px;
    background: url("../images/left-common.png");
    position: relative;
}
.news-side-com{
    position: relative;
    min-height: 348px;
}
.news-side-com-img{
    width: 300px;
    height: 49px;
    background: url("../images/left-common.png")  0 -50px;
}
.news-side-com-online{
    font-weight: bolder;
    color: #353535;
    height: 16px;
    padding: 20px;
    font-family:"宋体" ;
    font-size: 14px;
}
.news-side-com ul li p{
    margin: 0;
    text-align: center;
}
.news-side-com ul{
    margin: 0;
    padding: 0;
    height:85px;
}
.news-side-com ul li{
    font-size: 12px;
    float: left;
    padding-left:20px;
    padding-bottom: 20px;
}
.news-side-rel{
    position: relative;
    height: 235px;
    padding-bottom: 80px;
}
.news-side-rel-img{
    width: 300px;
    height: 49px;
    background: url("../images/left-common.png") 0 -150px;
}
.news-side-rel ul li{
    position: relative;
    top: -25px;
    left: -25px;
    font-size: 14px;
    width: 270px;
    padding: 3px;
}
.news-side-com-online-special1{
    text-align: center;
    margin-left: -12px;
}
.email{
    color: red;
    margin-right: 20px;
}
div .left-science-common-menu1-special1{
    width: 15px;
    height: 15px;
    position: absolute;
    top:2px;
    *top:4px;
    left: 222px;
    [;top:4px;left:219px;];
    *left:210px;
    background: url("../images/layer.png");
}
@-moz-document  url-prefix(){div .left-science-common-menu1-special1{top:3px;left:221px;}}
#left-science-common-menu1-special1-li{
    *z-index: 4;
}
.left-science-common-menu1-special1 div{
    font: 13px 微软雅黑;
}
.left-science-common-menu1-special1:hover .left-common-menu1-special1-wrap{
    display: block;
}
#left-science-common-menu1-special1-input{
    margin-left: 16px;
    *margin-left: 0;
    *position: relative;
    *left: 1px;
}